<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PeriksaParu.com</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/form_upload.css">
  </head>  

<body class="text-center">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">PeriksaParu.com</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html"> Beranda </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="test.html"> Informasi Rumah Sakit </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="test.html"> Berita Terkini </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/berita-terkini"> Info Pencegahan Penyakit </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tentang-periksaparu"> Tentang PeriksaParu.com </a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search">
        </form>
      </div>
    </nav>

  <br>
  <br>
  <br>


  <div class="container">
    <form class="form-upload" method=post enctype=multipart/form-data>
      <h1 class="h3 mb-3 font-weight-normal">Unggah Gambar Paru di sini:</h1>
      <br>
      <input type="file" id="image" name="image" class="form-control" required autofocus>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit" width="256">Prediksi</button>
      <br>
      {% if image_loc %}
      <br>
      <img class="mb-4" src="/static/images/{{image_loc}}" alt="" width="256" height="256">
      <br>
      <h3 class="h3 mb-3 font-weight-normal"> Hasil Prediksi: {{TextResult}} </h3>
      <h3 class="h3 mb-3 font-weight-normal"> Akurasi: {{prediction}}% </h3>
      {%endif%}
      <br>
    </form>
  </div>

</body>

</html>